# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/

# Pipeline outputs
results_modularPipe/
inputs/
outputs/
logs/
*.npz

# R
.Rhistory
.RData
.Rproj.user/

# OS
.DS_Store
Thumbs.db

_to_delete/
